   <nav>
    <div class="nav-wrapper">
      <!-- <a href="/" class="brand-logo">Tutorials!</a> -->
      <ul id="nav-mobile" class="right hide-on-med-and-down purple lighten-2">
        <li><a href="/">Home</a></li>
        <li><a href="/forms">Forms</a></li>
        <li><a href="{% url 'others:legals' %}">Legal Resources</a></li>
        <li><a href="{% url 'others:publications' %}">Publications</a></li>
        <li><a href="{% url 'others:offices' %}">Office Locations</a></li>
        <li><a href="{% url 'others:contacts' %}">Contact Us</a></li>
        

      </ul>
    </div>

  </nav>